#!/bin/bash

#is it compatible? returns syntax error!

docker run -t cassandra:{{ cassandra_version }} sh -c "exec cqlsh -e \"SELECT now() FROM system.local;\" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}"
STATE=$?

if [ "$STATE" -ne 0 ]; then
# Setup new user and password
docker run -t cassandra:{{ cassandra_version }} sh -c "exec cqlsh -e \"CREATE USER {{ cassandra_cluster_username }} WITH PASSWORD '{{ cassandra_cluster_password }}' SUPERUSER;\" -u cassandra -p cassandra {{ cassandra_address }} {{ cassandra_port }}"

# Check connection with new user
docker run -t cassandra:{{ cassandra_version }} sh -c "exec cqlsh -e \"SELECT now() FROM system.local;\" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}"

# Change password for cassandra user
# HUH?! this command changes cassandra password to 'cassandra' which is a default password :D
#docker run -t cassandra:{{ cassandra_version }} sh -c "exec cqlsh -e \"ALTER USER cassandra WITH PASSWORD 'cassandra';\" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}"

#DROP user cassandra
docker run -t cassandra:{{ cassandra_version }} sh -c "exec cqlsh -e \"DROP USER cassandra;\" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}"

# Proper replication of users collection
docker run -t cassandra:{{ cassandra_version }} sh -c "exec cqlsh -e \"ALTER KEYSPACE system_auth WITH REPLICATION = { 'class':'SimpleStrategy', 'replication_factor':{{ groups[cassandra_hosts_group] | length }} };\" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}"
fi