#!/bin/bash

STATE=$(cqlsh -e 'SELECT now() FROM system.local;' -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }})

if [ $STATE ]; then
  # Setup new user and password
  cqlsh -e \"CREATE USER {{ cassandra_cluster_username }} WITH PASSWORD '{{ cassandra_cluster_password }}' SUPERUSER;\" -u cassandra -p cassandra {{ cassandra_address }} {{ cassandra_port }}
  # Check connection with new user
  cqlsh -e 'SELECT now() FROM system.local;' -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}
  # Change password for cassandra user
  cqlsh -e \"ALTER USER cassandra WITH PASSWORD 'cassandra';\" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}
  # Proper replication of users collection
  cqlsh -e "ALTER KEYSPACE system_auth WITH REPLICATION = { 'class':'SimpleStrategy', 'replication_factor':{{ groups[cassandra_hosts_group] | length }} } ;" -u {{ cassandra_cluster_username }} -p {{ cassandra_cluster_password }} {{ cassandra_address }} {{ cassandra_port }}
fi
